<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ sample }} sample</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container homepage-container">
            <h3>Authenticated with {{ sample }}</h3>
            <h5>{{ endpoint }}</h5>
            <pre><b>access_token:</b> {{ access_token }}</pre>
            <pre><b>id_token:</b> {{ id_token }}</pre>
            <a href="https://jwt.ms/" target="_blank"><b><pre><strong style="color: blue;">Click here to Verify Tokens and Claims in JWT.ms</strong></pre></b></a>

            <p><b>User Data:</b> </p>
            <table border="1">
            {% for key, value in graphdata.items() %}
               <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>
               </tr>
            {% endfor %}
            </table>

        </div>

    </body>
</html>